* {
    margin: 0;
    font-family: play;
}

body {
    /* background-image: url("https://community.arm.com/cfs-file/__key/communityserver-blogs-components-weblogfiles/00-00-00-37-98/blogimage_5F00_1600x900_5F00_3.jpg");
    background-size: 100%; */
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: column;
}

:disabled {
    background-color: black;
    color: white;
}

.digit-group {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 10px;
    width: 610px;
    height: 610px;
    margin: auto;
    padding: 50px;
}

.digit-group input {
    border: none;
    font-size: 24px;
    margin: 0 2px;
    font-weight: 800;
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
    text-align: center;
    border: 1px solid gray;
}

.sudokuBtn {
    cursor: pointer;
    padding: 10px 15px;
    font-size: 18px;
    margin: 15px 25px;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-radius: 7px;
    border: none;
}

#startSudokuDiv {
    display: none;
    margin: auto;
}

#startSudokuDiv button {
    width: 610px;
}